@import "./_variables";
@import "./_mixins";
@import "./_header";


//buttons
.btn-primary{
    background-color:#5BB6D8;
    border:none;
    border-radius: 2px;
    @include standardFont();
    &:hover{
        background-color: $primaryColor;
    }
}
//Slider
#slider{
    .carousel-caption{
        margin-bottom: 200px;
        text-align: left;
        width: 25%;

        span{
            @include smallestFont();
        }
        p{
            @include bodyParagraph;
            color: #ffffff;
        }
    }
    
} 
//Services
#services{
    .mainService{
        background-color: $primaryColor;
        height: auto;
        color: white;
        z-index: 1;
        h3{
            margin-bottom: 20px;
        }
        P{
           @include standardFont();
           margin-bottom: 20px;
        }
    }
    .servicesItem{
        text-align: center;

        p{
            margin: 20px 0 20px 0;
            font-size:12px;
            color: grey;
        }
    }
}
//cta
#ctaContact{
    @include fixedBackground();
    background-image: url(../images/background/cta/big-foggy-city.jpg);
    p{
        color: white;
        text-transform: uppercase;
        font-size:20px;
        line-height: 25px;
    }
}
//about
#about{
    p{
       @include standardFont();
       line-height: 25px;
       color: grey;
       margin-top: 20px;
    }
}
//testimonial
#testimonials{
    @include fixedBackground();
    background-image: url(../images/background/testimonials/working-lady.jpg);
    .profileImg{
        border-radius: 100%;
        overflow: hidden;
        background-color: #ffffff;
        width: 66px;
        height: 66px;
    }
    p{
        @include standardFont();
        color: #ffffff;
        height: auto;
        font-style: italic;
    }
    span{
        color: #ffffff;
    }

}
//our clients
#clients{
    img{
        opacity: 0.5;
        &:hover{
            opacity:1;
        }
    }
}
//footer{
    footer{
        background-color: $primaryColor;
        ul{
            display: inline-block;
            padding: 0;
            li{
                display: inline-block;
                padding: 10px;
                @include standardFont();
                a{
                    text-decoration: none;
                    color: #5A99B5;
                    &:hover{
                        color: #ffffff;
                        text-decoration: none;

                    }
                }
            }
        }
        span{
            color: #5A99B5;
            @include smallestFont();
        }
    }
//media queries
@import "./_mediaQueries";